@model DestinationMedia

<div class="container w-100 p-5 mx-auto">
  <h2>@Model.Location</h2>
  <p>@Model.ShortDescription</p>

  <img class="shadow-lg rounded" width="100%" src="@Model.Src" alt="@Model.Location : @Model.ShortDescription">
</div>