@model List<Trip>

@{
  int? uid = Context.Session.GetInt32("UserId");
}

<h2 class="text-center">All Trips</h2>

@foreach (Trip trip in Model)
{
  bool alreadyJoined = trip.TripUserJoins.Any(j => j.UserId == uid);

  <div class="card shadow rounded w-75 mb-3 mx-auto">
    <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
      <a asp-controller="Trips" asp-action="Details" asp-route-tripId="@trip.TripId">
        @trip.Name
      </a>
    </h4>

    <div class="card-body">
      <p class="card-text">@trip.Location from @trip.DepartureDate to @trip.ReturnDate</p>
      <small class="text-muted">Planned by @trip.Planner.FullName()</small>
    </div>

    @if (trip.ImgUrl != null)
    {
      <img src="@trip.ImgUrl" alt="@trip.Location">
    }

    <div class="container">
      <div class="card-footer row justify-content-center">
        <form asp-controller="Trips" asp-action="Join" asp-route-tripId="@trip.TripId" method=POST>
          <button class="btn btn-link">
            @if (alreadyJoined)
            {
              <span class="text-warning">Leave Trip</span>
            }
            else
            {
              <span>Join Trip</span>
            }
          </button>
        </form>

        @if (trip.UserId == uid)
        {
          <form asp-controller="Trips" asp-action="Delete" asp-route-tripId="@trip.TripId" method=POST>
            <button class="btn btn-link text-danger">Delete</button>
          </form>
        }
      </div>
    </div>
  </div>
}