@model Trip

@{
  @* Alternative to use Date.Value below, use the null coalescing operator (similar to a ternary)
    to put the Date into a non nullable datetime if it's not null, otherwise
    the current date will be added to the var.
  *@
  DateTime date = Model.Date ?? DateTime.Now;
  bool isTripCreator = Model.UserId == Context.Session.GetInt32("UserId");
}

<div class="container w-75 mx-auto">
  <h2 class="text-center">@Model.Name</h2>
  @if (isTripCreator)
  {
    <form asp-controller="Trips" asp-action="Delete" asp-route-tripId="@Model.TripId">
      <button class="btn btn-sm btn-outline-danger">Delete Trip</button>
    </form>
  }
  <small>Created by - @Model.CreatedBy.FullName()</small>
  <p class="mt-2">
    @if (Model.Date != null)
    {
      @* .Value is needed here b/c date is nullable and ToString was complaining. *@
      <span>@Model.Date.Value.ToString("MM/dd/yyyy") - </span>
      @* <span>@date.ToString("MM/dd/yyyy") - </span> *@

    }
    @Model.Description
  </p>

  @{
    TripDestination tripDestinationRelationship = new TripDestination()
    {
      TripId = Model.TripId
    };
  }
  <partial name="_AddDestination" model="@tripDestinationRelationship">

    @* Display all added destinations *@

    @foreach (TripDestination tripDestination in Model.TripDestinations)
    {
      bool isDestinationCreator = tripDestination.Destination.UserId == Context.Session.GetInt32("UserId");

      <div class="mt-2">
        <hr>
        <h2>@tripDestination.Destination.Location</h2>
        <p>@tripDestination.Destination.ShortDescription</p>

        @if (tripDestination.Destination.Type == "Image")
        {
          <img class="shadow-lg rounded" width="100%" src="@tripDestination.Destination.Src"
        alt="@tripDestination.Destination.Location : @tripDestination.Destination.ShortDescription">
        }
        else if (tripDestination.Destination.Type == "Youtube Embed")
        {
          <iframe width="100%" height="800" src="@tripDestination.Destination.Src" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        }
        else
        {
          <iframe src="@tripDestination.Destination.Src" width="100%" height="800" style="border:0;" allowfullscreen=""
        loading="lazy"></iframe>
        }

        <div class="row justify-content-center mt-2">
          @if (isTripCreator)
          {
            <div class="col-md-1 mr-1">
              <form asp-controller="Trips" asp-action="RemoveDestination" asp-route-tripId="@Model.TripId"
            asp-route-destinationMediaId="@tripDestination.DestinationMediaId" method="POST">
                <button class="btn btn-sm btn-outline-warning">Remove</button>
              </form>
            </div>
          }

          <div class="col-md-1">

            <a asp-controller="DestinationMedias" asp-action="Edit"
            asp-route-destinationMediaId="@tripDestination.DestinationMediaId"
            class="btn btn-sm btn-outline-warning">Edit</a>
          </div>
        </div>
      </div>
    }
  </partial>
</div>